body {
	font-size: 16px; 
	line-height: 22px;
    color: #283136;
    font-weight: normal;
    font-family: "Roboto", Arial, sans-serif;
    min-width: 1200px;
    

}
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-instagramm {
    width: 21px;
    height: 21px;
    background-position: -5px -5px;
}

.sprite-icon-basket {
    width: 15px;
    height: 15px;
    background-position: -5px -36px;
}

.sprite-icon-basket-copy-3 {
    width: 15px;
    height: 15px;
    background-position: -5px -61px;
}

.sprite-icon-facebook {
    width: 12px;
    height: 22px;
    background-position: -5px -86px;
}

.sprite-icon-vk {
    width: 26px;
    height: 15px;
    background-position: -5px -118px;
}

h1 {
	font-size: 36px; 
	line-height: 36px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto", Arial, sans-serif;
}

h2 {
	font-size: 18px; 
	line-height: 30px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto", Arial, sans-serif;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container{
    width: 880px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
}

.main-image{
    width: 140px;
    float: left;
    margin-top: 30px;
}

.main-navigation{
    width: 580px;
    float: left;
    font-size: 0px;
    text-align: right;
    margin-right: 60px;
}

.user-block{
    width: 100px;
    float: right;
    font-size: 0px;
    position: relative;
    text-align: right;
}

.top-navigation{
    margin-bottom: 45px;

}

.slide-property{
    width: 880px;
}

.slider-nav{
    width: 60px;
    padding-left: 20px;
}

.header-slider{
    min-height: 310px;
    width: 880px;
    position: relative;
}

.features-blocks{
    width: 240px;
}

.first-block{
    float: left;
    margin-right: 80px;
}

.second-block{
    float: left;
}

.third-block{
    float: right;
}

.features{
    margin-bottom: 140px;
}

.we-from{
    width: 620px;
    float: left;
    padding-right: 20px;
}

.logo{
    width: 240px;
    float: right;
}

.what-make{
    width: 620px;
    float: left;
    margin-right: 15px; 
}

.how-work{
    width: 240px;
    float: right;
}

.block-top {
    margin-bottom: 40px;
}

.block-bottom{
    margin-bottom: 110px;
}

.nets-class:nth-child(1){
    width: calc(100% / 3);
    float: left;
    text-align: left;
}

.nets-class:nth-child(2){
   width: calc(100% / 3); 
   float: left;
   text-align: center;
}

.nets-class:nth-child(3){
   width: calc(100% / 3); 
   float: right;
   text-align: right;
}

.links{
    margin-bottom: 115px;
}

.map{
    height: 417px;
}

.google-maps{
    width: 100%;
    height: 420px;
}
    
.top-map{
    margin-top: -420px;
    position: relative;
    padding-top: 90px;
    width: 250px;
}

.footer-social{
    width: 240px;
    float: left;
}

.footer-info{
    width: 580px;
    float: right;
}

.welcome{
    width: auto;
    margin-bottom: 160px; 
}

.filters{
    width: 240px;
    float: left;
    margin-right: 60px;
}

.content{
    width: 580px;
    float: right;
}

.sort-form{
    margin-bottom: 20px;
}
.sort-word{
    float: left;
    width: 105px;
    margin-right: 10px;
}

.sort{
    width: 300px;
    margin-right: 10px;
    float: left;
}

.sort-button{
    width: 80px;
    float: right;
}

.features-catalogue{
    float: left;
    width: 240px;
    margin-right: 80px;
}
.features-catalogue:nth-child(n+3) {
    margin-top: 80px
}

.category-article{
    margin-bottom: 80px;
}

.features-catalogue:nth-child(2n) {
  margin-right: 0;
}

.paginator{
    margin-bottom: 80px;
}

.main-footer{
    margin-top: 70px;
}

.main-navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1;
  margin-right: 46px;
  text-transform: uppercase;
  
}

.main-navigation a{
    text-decoration: none;
    display: block;
    margin-top: 60px;
    color: black;


}
.user-block a{
 text-decoration: none;
    display: block;
    font-size: 14px; 
    line-height: 1;
    margin-top: 60px;
    color: black;
    text-transform: uppercase;
}
.main-navigation li:last-child{
    margin-right: 0px;

}
.user-block::before {
  content: "";

  width: 15px;
  height: 15px;
  left:5px;
  top:57px;
  background-position: -5px -36px;
  position: absolute;
  background-image: url("../img/sprite.png");
}

.user-block:hover::before {
  content: "";

  width: 15px;
  height: 15px;
  left:5px;
  top:57px;
  background-position: -5px -61px;
  position: absolute;
  background-image: url("../img/sprite.png");
}

.main-navigation a:hover{
    color:#fb565a; 
}

.user-block:hover a{
    color:#fb565a; 
}

.image-slide-first{
    min-height: 310px;
}

.slide-property{
    height: 310px;
    display: none;
}

.slider-container{
    position: relative;
}

.image-slide-first{
  background: url("../img/computer-index.png") no-repeat;
  background-position: top right; 
}

.image-slide-second{
  background: url("../img/calc-index.png") no-repeat;
  background-position: top right; 
}

.image-slide-thrid{
  background: url("../img/robot-index.png") no-repeat;
  background-position: top right; 
}

.slide-property p,h2{
    max-width: 460px;

}

.main-header{
    background: #eeeeee;
    margin-bottom: 80px;
}

input[type="radio"]#SlideOne-id:checked ~ .slider-container .image-slide-first,
input[type="radio"]#SlideTwo-id:checked ~ .slider-container .image-slide-second,
input[type="radio"]#SlideThree-id:checked ~ .slider-container .image-slide-thrid{
  display: block;
}

.slide-property p{
    font-size: 16px;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}

.slide-property .button-more{
    text-decoration: none;
    width: 240px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: white;
    background: #fb565a;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 5px;
}

.slide-property .button-more:hover{
    background:#d6494d;
}

.two-level{
    font-size: 36px;
}
/*Скрываем инпуты*/
input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 1;
    height: 1;
}


label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
}

.slider-nav label:before {
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
