body {
	font-size: 16px; 
	line-height: 22px;
    color: #283136;
    font-weight: normal;
    font-family: "Roboto", Arial, sans-serif;
}

h1 {
	font-size: 36px; 
	line-height: 36px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto", Arial, sans-serif;
}

h2 {
	font-size: 18px; 
	line-height: 30px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto", Arial, sans-serif;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container{
    width: 880px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
}

.main-image{
    width: 140px;
    float: left;
}

.main-navigation{
    width: 560px;
    float: left;
}

.user-block{
    width: 100px;
    float: right;
}

.top-navigation{
    margin-bottom: 55px;

}

.slide-property{
    width: 380px;
    padding-bottom: 80px;
}

.slider-nav{
    width: 60px;
    padding-left: 20px;
}

.header-slider{
    height: 300px;
}

.features-blocks{
    width: 240px;
}

.first-block{
    float: left;
    margin-right: 80px;
}

.second-block{
    float: left;
}

.third-block{
    float: right;
}

.features{
    margin-bottom: 140px;
}

.we-from{
    width: 620px;
    float: left;
    padding-right: 20px;
}

.logo{
    width: 240px;
    float: right;
}

.what-make{
    width: 620px;
    float: left;
    margin-right: 15px; 
}

.how-work{
    width: 240px;
    float: right;
}

.block-top {
    margin-bottom: 40px;
}

.block-bottom{
    margin-bottom: 110px;
}

.glukhanko{
    width: 33%;
    float: left;
    text-align: left;
}

.htmlacademy{
   width: 33%; 
   float: left;
   text-align: center;
}

.barbershop{
   width: 33%; 
   float: right;
   text-align: right;
}

.links{
    margin-bottom: 115px;
}

.map{
    height: 417px;
}

.google-maps{
    width: 100%;
    height: 420px;
}
    
.top-map{
    margin-top: -420px;
    position: relative;
    padding-top: 90px;
    width: 250px;
}

.footer-social{
    width: 240px;
    float: left;
}

.footer-info{
    width: 580px;
    float: right;
}

.welcome{
    width: auto;
    margin-bottom: 160px; 
}

.filters{
    width: 240px;
    float: left;
    margin-right: 60px;
}

.content{
    width: 580px;
    float: right;
}

.sort-form{
    margin-bottom: 20px;
}
.sort-word{
    float: left;
    width: 105px;
    margin-right: 10px;
}

.sort{
    width: 300px;
    margin-right: 10px;
    float: left;
}

.sort-button{
    width: 80px;
    float: right;
}

.features-catalogue{
    float: left;
    width: 240px;
    margin-right: 80px;
}
.features-catalogue:nth-child(n+3) {
    margin-top: 80px
}

.category-article{
    margin-bottom: 80px;
}

.features-catalogue:nth-child(2n) {
  margin-right: 0;
}

.paginator{
    margin-bottom: 80px;
}

.main-footer{
    margin-top: 70px;
}